<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
              data-toggle="collapse"
              data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/home">Azure AD B2C Angular Sample</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li [class]="{ active: isActive('/Home') }"><a routerLink="/home">Home</a></li>
        <li [class]="{ active: isActive('/TodoList') }"><a routerLink="/todo" [hidden]="!isOnline()">Todo List</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a class="btn btn-link" [hidden]="!isOnline()" (click)="logout()">Logout</a></li>
        <li><a class="btn btn-link" [hidden]="isOnline()" (click)="login()">Login</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="container" role="main" style="margin-top: 50px;">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1" style="background-color:azure">
      <div class="page-header">
        <h1>Angular Sample</h1>
      </div>
      <p>This sample demonstrates how to integrate Azure AD B2C using MSAL with your AngularJS apps.</p>
    </div>
  </div>
</div>
